credentials_path = ""
gsuite_admin_email = ""
org_id = ""
project_id = ""
gce_ssh_user = ""
gce_ssh_pub_key_file = ""
dns_zone = ""
dns_suffix = ""
environment = ""
ansible_basedir = "<path-to->/terraform-google-spinnaker/scripts/spinnaker-halyard"
